<body>
<header-cmp></header-cmp>
<navbar-usuario-cmp></navbar-usuario-cmp>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading mb-5 sobre-nos">
            <span class="section-heading-upper">Horário de</span>
            <span class="section-heading-lower">Funcionamento</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Domingo
              <span class="ms-auto">Fechado</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Segunda-Feira
              <span class="ms-auto">8:00h às 18:00h</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Terça-Feira
              <span class="ms-auto">8:00h às 18:00h</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Quarta-Feira
              <span class="ms-auto">8:00h às 18:00h</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Quinta-Feira
              <span class="ms-auto">8:00h às 18:00h</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sexta-Feira
              <span class="ms-auto">8:00h às 18:00h</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sábado
              <span class="ms-auto">9:00h às 17:00h</span>
            </li>
          </ul>
          <p class="address mb-5">
            <em>
              <strong>Avenida das Américas, nº 18.000</strong>
              <br/>
              Recreio dos Bandeirantes, RJ
            </em>
          </p>
          <p class="mb-0">
            <small><em>Contato</em></small>
            <br/>
            (21) 99999-9999
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer-usuario-cmp></footer-usuario-cmp>
</body>
