<body>
<header-cmp></header-cmp>
<navbar-usuario-cmp></navbar-usuario-cmp>
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
           src="https://img.freepik.com/fotos-gratis/lavar-cachorro-de-estimacao-em-casa_23-2149627214.jpg?w=996&t=st=1687800808~exp=1687801408~hmac=268e737f3cae21a1489735b0dfe46f087dc9aeb6b79199264a3378f9db860e96"/>
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Agendamento </span>
          <span class="section-heading-lower">Bath Time</span>
        </h2>
        <p class="mb-3">Não perca tempo! Agende agora mesmo um horário conosco e faça seu peludinho se sentir
          como a realeza dos animais de estimação. Venha nos visitar e prepare-se para ver o seu bichinho brilhar
          como uma verdadeira estrela do cinema! </p>
        <div class="intro-button mx-auto"><a [routerLink]="['/agendamento']" class="btn btn-primary btn-xl">Agende
          aqui!</a></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Nosso Compromisso</span>
            <span class="section-heading-lower">Com o seu peludinho</span>
          </h2>
          <p class="mb-0">E não é só a aparência que importa! Aqui, proporcionamos um verdadeiro spa para
            os peludos, com massagens relaxantes, banhos aromáticos e até tratamentos faciais para garantir
            um pêlo de dar inveja. Seu aumiguinho merece ser paparicado e sair daqui renovado, pronto para
            conquistar corações por onde passar!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer-usuario-cmp></footer-usuario-cmp>
</body>



