<navbar-usuario-cmp></navbar-usuario-cmp>
<div class="grid-container">
  <div class="left-section">
    <img class="img-logo"
         src="https://img.freepik.com/fotos-gratis/cao-bonito-vista-frontal-em-traje_23-2148423660.jpg?w=360&t=st=1687840153~exp=1687840753~hmac=d9ceb4b658a6c780877557fec280d461579c7da2616e5fe86f68c0cba9a93005"
         alt="...">
  </div>
  <div class="right-section">
    <div class="card card-user">
      <div class="card-body">
        <div class="card-header" class="signin">
          <h4 class="font-weight-bolder signin-texto">Registre-se</h4>
          <p class="mb-0">Preencha e se cadastre!</p>
        </div>
        <form #cadastroForm="ngForm" (ngSubmit)="cadastrarTutor(cadastroForm)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nome Completo</label>
                <input type="text" class="form-control" name="nome" [(ngModel)]="signup.nome" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="signup.email" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Senha</label>
                <input type="text" class="form-control" name="senha" #name="ngModel"
                       [type]="showPassword ? 'text' : 'password'" [(ngModel)]="signup.senha"><br>
                <input type="checkbox" id="showPasswordCheckbox" [(ngModel)]="showPassword">
                <label for="showPasswordCheckbox">Mostrar senha</label>
              </div>
            </div>
          </div>
          <div class="update ml-auto mr-auto">
            <button type="submit" class="btn btn-warning btn-round btn-block">CADASTRAR</button>
            <p class="create-account">Já tenho conta!<a [routerLink]="['/login']" class="signin-link">
              Login</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
