<body>
<header-cmp></header-cmp>
<navbar-usuario-cmp></navbar-usuario-cmp>
<section class="page-section cta">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Banho</span>
            <span class="section-heading-upper">Simples</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://img.freepik.com/fotos-gratis/estilo-de-vida-do-cao-e-cuidados-com-o-dono_23-2149150801.jpg?w=996&t=st=1688933008~exp=1688933608~hmac=b36282f4c7f01628dd2e811809a507fc64d8ceff0a1311297c4fd2fcbd589fe2" alt="..." />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">Limpeza de ouvidos, shampoo pré-lavagem, shampoo neutro, condicionador, toalha esterilizada, remoção de água, secagem, penteado/decoração, cromoterapia e perfumagem.</p>
          <br>
          <p>
            <b>Porte:</b><br>
            Pequeno: R$ 40,00
          </p>
          <p>Médio: R$ 50,00</p>
          <p>Grande: R$ 70,00</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Banho e Tosa</span>
            <span class="section-heading-upper">Completo</span>
          </h2>
        </div>
      </div>
      <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="https://img.freepik.com/fotos-premium/o-profissional-cuida-de-um-cachorro-em-um-salao-especializado-aparadores-de-barba-segurando-ferramentas-nas-maos-conceito-de-groomer_170532-932.jpg?w=996" alt="..." />
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded"><p class="mb-0">Limpeza de ouvidos, shampoo pré-lavagem, shampoo neutro, condicionador, toalha esterilizada, remoção de água, secagem, tosa, penteado/decoração, cromoterapia e perfumagem.</p>
          <br>
          <p>
            <b>Porte:</b><br>
            Pequeno: R$ 80,00
          </p>
          <p>Médio: R$ 100,00</p>
          <p>Grande: R$ 140,00</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer-usuario-cmp></footer-usuario-cmp>
</body>
