<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Lista de Cachorros</h4>
          </div>
          <div class="col-4 text-right">
            <button class="btn btn-outline-warning btn-round" (click)="cadastrarCachorro()">
              <i class="fa fa-plus"></i> Cadastrar
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="overflow: hidden !important;">
          <table class="table">
            <thead class=" text-warning">
              <th>Nome</th>
              <th>Raça</th>
              <th>Idade</th>
              <th>Porte</th>
              <th>Gênero</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let cachorro of cachorrosTableData">
                <td>{{cachorro.nome}}</td>
                <td>{{cachorro.raca}}</td>
                <td>{{cachorro.idade}}</td>
                <td>{{cachorro.porte}}</td>
                <td>{{cachorro.genero}}</td>
                <td class="text-right">
                <a [routerLink]="['/cachorro', cachorro.id]">
                  <button class="btn btn-info btn-icon btn-round btn-sm" title="Atualizar" style="margin-right:5px;">
                      <i class="fa fa-pencil"></i>
                  </button>
                </a>
                <button class="btn btn-danger btn-icon btn-round btn-sm" (click)="deletarCachorro(cachorro.id)" title="Excluir">
                  <i class="fa fa-trash"></i>
                </button>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
