<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Lista de Funcionários</h4>
      </div>
      <div class="card-body">
        <h1 *ngIf="erro"> deu merda</h1>
        <div class="table-responsive" style="overflow: hidden !important;">
          <table class="table">
            <thead class=" text-warning">
              <th>Nome</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let funcionario of funcionariosTableData">
                <td>{{funcionario.nome}}</td>
                <td class="text-right">
                <a [routerLink]="['/funcionario', funcionario.id]">
                  <button class="btn btn-info btn-round" title="Atualizar">
                    <i class="nc-icon nc-refresh-69"></i>
                  </button>
                </a>
                <button class="btn btn-danger btn-round" (click)="deletarFuncionario(funcionario.id)" title="Excluir">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
