<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>the groover</title>
  <link rel="icon" type="image/x-icon" href="../docs/assets/logo.2.png" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <!--        <link href="../css/styles.css" rel="stylesheet" />-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <h1 class="site-heading text-center d-none d-lg-block titulo">
    <link rel="icon" type="image/x-icon" href="../docs/assets/logo.2.png" />
    <span class="site-heading-upper text-primary mb-3 titulo">the groomer</span>
  </h1>
</header>
</body>
</html>
