<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Dados</h5>
      </div>
      <div class="card-body">
        <form #funcionarioForm="ngForm" (ngSubmit)="salvarOuAtualizar(funcionarioForm)">
          <div class="row">
            <div class="col-md-7">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" [(ngModel)]="funcionario.nome" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-warning btn-round">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
