<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Lista de Tutores</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="overflow: hidden !important;">
          <table class="table">
            <thead class=" text-warning">
              <th>Name</th>
              <th>Celular</th>
              <th>E-mail</th>
              <th></th>
            </thead>
            <tbody >
              <tr *ngFor="let tutor of tutoresTableData">
                <td>{{tutor.nome}}</td>
                <td>{{tutor.celular}}</td>
                <td>{{tutor.email}}</td>
                <td class="text-right">
                  <a [routerLink]="['/tutor', tutor.id]">
                    <button class="btn btn-info btn-round" title="Atualizar">
                      <i class="nc-icon nc-refresh-69"></i>
                    </button>
                  </a>
                  <button class="btn btn-danger btn-round" (click)="deletarTutor(tutor.id)" title="Excluir">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
