<div class="sidebar-wrapper">
  <div class="logo titulo">
    <div class="simple-text logo-normal">
      <img src="assets/img/marca.png">
    </div>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a class="bg-white" [routerLink]="[menuItem.path]">
        <i class="nc-icon text-black {{menuItem.icon}}"></i>
        <p class="text-black">{{menuItem.title}}</p> <!--título dos itens do menu lateral-->
      </a>
    </li>
  </ul>
</div>
