<div class="sidebar-wrapper">
  <div class="logo">
    <div class="simple-text logo-normal">
      <p> Olá, </p>
    </div>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a class="bg-white" [routerLink]="[menuItem.path]">
                <i class="nc-icon text-black {{menuItem.icon}}"></i>
                <p class="text-black">{{menuItem.title}}</p> <!--título dos itens do menu lateral-->
            </a>
        </li>
    </ul>
</div>
