<body>
<header-cmp></header-cmp>
<navbar-usuario-cmp></navbar-usuario-cmp>
<section id="sobre" class="page-section about-heading sobre">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://media.gettyimages.com/id/639321736/pt/foto/this-one-loves-the-groomers.jpg?s=2048x2048&w=gi&k=20&c=1rSG3KR5F9idZQTH5HXEFs0WnpyasyScnF7jmQasWhs=" alt="..."/>
    <div class="about-heading-content">
      <div class="row">
        <div id="sobre-nos" class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Sobre Nós </span>
              <span class="section-heading-upper">Um pouco da nossa história...</span>
              <span class="section-heading-upper">... E do nosso compromisso </span>
            </h2>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <p>
                    Nossa história começou com a visão de criar um ambiente acolhedor e seguro para os pets, onde eles
                    pudessem ser tratados com
                    carinho e atenção individualizada. Com o passar dos anos, aprimoramos nossas habilidades e nos
                    tornamos referência na área de
                    cuidados e estética animal.
                    Ao longo dos 25 anos em que estamos abertos, construímos uma equipe dedicada e altamente qualificada
                    de profissionais apaixonados
                    por animais. Nossos especialistas em banho e tosa têm anos de experiência e conhecimento, garantindo
                    que seu pet seja tratado com
                    o maior cuidado e respeito.
                  </p>
                  <p>
                    Na Banho e Tosa, também nos preocupamos com a segurança e o bem-estar dos animais. Mantemos um
                    ambiente limpo, esterilizado e livre de
                    estresse, para que seu pet se sinta confortável durante sua visita. Utilizamos produtos de alta
                    qualidade, seguros e adequados para
                    diferentes tipos de pele e pelos.
                    Nossa missão vai além de apenas fornecer um serviço de banho e tosa excepcional. Buscamos construir
                    relacionamentos duradouros com nossos
                    clientes peludos e seus tutores, criando um ambiente confiável e amigável. Valorizamos a confiança
                    que nossos clientes depositam em nós
                    ao deixarem seus amados pets aos nossos cuidados.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer-usuario-cmp></footer-usuario-cmp>
</body>
