<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" [routerLink]="['/home']">Home</a></li>
        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" [routerLink]="['/sobre']">Sobre</a></li>
        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" [routerLink]="['/funcionamento']">Funcionamento</a></li>
        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" [routerLink]="['/servicos-oferecidos']">Serviços</a></li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" [routerLink]="['/login']">
          <i class="nc-icon nc-single-02" title="Login"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

