<navbar-usuario-cmp></navbar-usuario-cmp>
<body id="mainNav">
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="decoration-block">
            <p class="decoration-text">Sign in</p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="E-mail" ngModel name="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="password" id="password" class="form-control" placeholder="Senha" ngModel name="senha"
                       [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"><br>
                <input type="checkbox" id="showPasswordCheckbox" [(ngModel)]="showPassword">
                <label for="showPasswordCheckbox">Mostrar senha</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-warning btn-round btn-block">ENTRAR</button>
                <p class="create-account">Não tem uma conta? <a [routerLink]="['/cadastro']" class="signup-link">Registre-se</a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

