<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Dados do Cachorro</h5>
      </div>
      <div class="card-body">
        <form #cachorroForm="ngForm" (ngSubmit)="salvarOuAtualizar(cachorroForm)">
          <div class="row">
            <div class="col-md-7 pr-2">
              <div class="form-group">
                <label>Nome <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="nome" [(ngModel)]="cachorro.nome" #name="ngModel"
                       required minlength="3">
                <div class="text-danger"
                     *ngIf="cachorroForm.controls['nome'].invalid && (cachorroForm.controls['nome'].dirty || cachorroForm.controls['nome'].touched)">
                  <div *ngIf="cachorroForm.controls['nome'].errors.required">Campo obrigatório</div>
                  <div *ngIf="cachorroForm.controls['nome'].errors.minlength">O nome deve ter pelo menos 3 caracteres
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 pr-2">
              <div class="form-group">
                <label>Raça <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="raca" [(ngModel)]="cachorro.raca" #name="ngModel"
                       required minlength="3">
                <div class="text-danger"
                     *ngIf="cachorroForm.controls['raca'].invalid && (cachorroForm.controls['raca'].dirty || cachorroForm.controls['raca'].touched)">
                  <div *ngIf="cachorroForm.controls['raca'].errors.required">Campo obrigatório</div>
                  <div *ngIf="cachorroForm.controls['raca'].errors.minlength">O nome deve ter pelo menos 3 caracteres
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-3">
              <div class="form-group">
                <label>Idade</label>
                <input type="number" class="form-control" name="idade" [(ngModel)]="cachorro.idade" #name="ngModel">
              </div>
            </div>
            <div class="col-md-4 pr-3">
              <div class="form-group">
                <label>Porte</label>
                <select class="form-control" name="porte" [(ngModel)]="cachorro.porte" #name="ngModel">
                  <option value="undefined" disabled selected>Selecione</option>
                  <option *ngFor="let porte of portes" [value]="porte">{{ porte }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 pr-3">
              <div class="form-group">
                <label>Gênero</label>
                <select class="form-control" name="genero" [(ngModel)]="cachorro.genero" #name="ngModel">
                  <option value="undefined" disabled selected>Selecione</option>
                  <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-warning btn-round">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
