<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Dados</h5>
      </div>
      <div class="card-body">
        <form #tutorForm="ngForm" (ngSubmit)="salvarOuAtualizar(tutorForm)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nome Completo</label>
                <input type="text" class="form-control" name="nome" [(ngModel)]="tutor.nome" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Celular</label>
                <input type="number" class="form-control" name="celular" [(ngModel)]="tutor.celular" #name="ngModel">
              </div>
            </div>
            <div class="col-md-8 pl-1">
              <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="tutor.email" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Senha</label>
                <input type="text" class="form-control" name="senha" [(ngModel)]="tutor.senha" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Endereço</label>
                <input type="text" class="form-control" name="endereco" [(ngModel)]="tutor.endereco" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-warning btn-round">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
